* {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* Reset some default styles for better consistency */
body,
ul {
  margin: 0;
  padding: 0;
}

/* Style for the navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
.logo {
  color: #050505;
  font-size: 2rem;
}
.addresBar {
  width: 100%;
  background: #e16ff5;
  padding: 1rem;
}
/* Style for the navigation list */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

/* Style for navigation items */
.nav-list li {
  float: left;
}

/* Style for navigation links */
.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

/* Style for dropdown */
.dropdown {
  /* position: relative; */
}

/* Style for dropdown content */
.dropdown-content {
  display: none;
}
/* .dropdown-content:hover {
  
} */

/* Show dropdown content on hover */
.nav-list li:hover .dropdown-content {
  display: block;
  position: absolute;
  /* background-color: #e2a8a8; */
  left: 5rem;
  width: 70%;
  z-index: 1;
  border-radius: 0;
  transform: scale(0.1);
  transform-origin: top left;
  animation: sc 0.3s linear forwards;
}
@keyframes sc {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* Table Styles */

.table-wrapper {
  margin: 0 10px 10px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
  /* color: aqua; */
}
.fl-table tr td:hover {
  color: palevioletred;
  transition: 0.4s linear;
  cursor: pointer;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
  font-size: 1.2rem;
}

/* .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
} */

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
